In [90]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import math

In [91]:
df = pd.read_csv('./merged_matched_full.csv')
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,cert,docket,fed_rssd,rssdhcr,name,city,stalp,...,SZUCCI,SZUCOTH,UCSZRES,UCSZHEL,UCSZCRCD,UCSZAUTO,UCSZCON,UCSZCI,UCSZOTH,splticrm
0,0,0,12,35456,0,2920773,3118513,1st Colonial National Bank,Collingswood,NJ,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BBB-
1,1,1,333,5296,0,917742,1199563,"Associated Bank, National Association",Green Bay,WI,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BBB+
2,2,2,334,29805,4115,482772,0,Astoria Federal Savings and Loan Association,Long Island City,NY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BBB
3,3,3,381,19919,0,170716,1391237,Banco Bilbao Vizcaya Argentaria Puerto Rico,San Juan,PR,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SD
4,4,4,383,34968,0,940311,1129382,Banco Popular de Puerto Rico,Hato Rey,PR,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BBB+

In [92]:
def describe_col(col):
    print(df[col].describe())
    print(df[col].value_counts(dropna=False))
    print(df[col].hist())
    print(df[col].isnull().sum(axis = 0))

In [93]:
def fill_median(col):
    median = df[col].median()
    df[col] = df[col].fillna(median)

In [94]:
fill_median('elnantr')
fill_median('iderncvr')

In [95]:
df['trn/dep'] = df['trn'] / df['dep'] # Transaction accounts/Total deposits
df['elnantr/elnatqr'] = df['elnantr'] # Credit loss provision to net charge-offs; No elnatqr
df['intexpy/intexpyq'] = df['intexpy'] # Cost of funding earning assets; No intexpyq
df['noniiay/noniiayq'] = df['noniiay'] # Noninterest income to average assets; No noniiayq
df['nonixay/nonixayq'] = df['nonixay'] # Noninterest expense to average assets; No nonixayq
df['iderncvr/iderncvq'] = df['iderncvr'] # Earnings coverage of net charge-offs (x); No iderncvq
df['ernastr/ernastr'] = df['ernastr'] # Doesn't make sense when ratio is 1; # Earning assets to total assets ratio \
#df['ernastr'] / df['ernastr'] # Earning assets to total assets ratio
df['nperfv/nperfv'] = df['nperfv'] # Noncurrent assets plus other real estate owned to assets

In [96]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,cert,docket,fed_rssd,rssdhcr,name,city,stalp,...,UCSZOTH,splticrm,trn/dep,elnantr/elnatqr,intexpy/intexpyq,noniiay/noniiayq,nonixay/nonixayq,iderncvr/iderncvq,ernastr/ernastr,nperfv/nperfv
0,0,0,12,35456,0,2920773,3118513,1st Colonial National Bank,Collingswood,NJ,...,0.0,BBB-,0.088464,169.982238,2.601604,0.363482,2.431450,2.618117,93.986723,0.745913
1,1,1,333,5296,0,917742,1199563,"Associated Bank, National Association",Green Bay,WI,...,0.0,BBB+,0.125699,149.507418,2.050441,1.281519,2.302457,3.785386,88.198700,1.628837
2,2,2,334,29805,4115,482772,0,Astoria Federal Savings and Loan Association,Long Island City,NY,...,NaN,BBB,0.013955,507.300204,3.260267,0.372698,1.029548,9.711346,93.903057,1.189805
3,3,3,381,19919,0,170716,1391237,Banco Bilbao Vizcaya Argentaria Puerto Rico,San Juan,PR,...,0.0,SD,0.298002,128.673096,2.845880,0.716384,1.984518,2.311141,91.591440,3.774276
4,4,4,383,34968,0,940311,1129382,Banco Popular de Puerto Rico,Hato Rey,PR,...,0.0,BBB+,0.282195,147.443182,2.432140,1.828441,2.978404,1.843750,91.669932,3.867252

In [98]:
df.iloc[:,1186:1195].isna().sum()

trn/dep              0
elnantr/elnatqr      0
intexpy/intexpyq     0
noniiay/noniiayq     0
nonixay/nonixayq     0
iderncvr/iderncvq    0
ernastr/ernastr      0
nperfv/nperfv        0
dtype: int64